@media only screen  and (max-width:600px){
	
	.overlap-hero{
		font-family: "Roboto Condensed", sans-serif;
		width: 100%;
		text-align: left;
		color: #ffffff;
		top: 20%;
		left: 0%;
		font-weight: 800;
		background-color: #121212;
		z-index: 99;
		
		
	}
	.overlap-hero span {
		font-size: 90vw;
		text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.7);
		margin: 0;
		padding: 0;
	}
	.overlap-hero span:not(:first-child) {
		margin-left: -4rem;
	}
	.overlap-hero br{
		height:1px;
	}
		
	

	
	 
	  /* Enable scroll after animation completes */
	  body.scrollable {
		overflow: auto;
	  }
	  
	  * {
		margin: 0;
		padding: 0;
	  }
	  
	
	  ul {
		list-style: none;
	  }
	  
	  .content img {
		width: 100%;
		height: auto;
		z-index: -1;
	  }
	  
	
	  
	  .text {
		display: flex;
		flex-direction: column;
		margin-left: 0%;
		padding-top: 5%;
		transform: translate(-40%, -100%);
		z-index: 1;
		width: 90%;
	
	
	  }
	  
	  .subtitle {
		/* transform: scale(calc(var(--progress1) * 30)) !important; */
		text-transform: uppercase;
		font-size: 25px;
		color: #8697c4;
	  }
	  
	  .subtitle::before {
		display: inline-block;
		content: "";
		border: 1px solid #fff;
		width: 80px;
		margin: 0 10px 0 0;
		transform: translateY(-4px);
	  }
	  
	  .title {
		
	  transform-origin: 48.2%;
	
	
		font-size: 16px;
		text-transform: uppercase;
		width: 0; /* Set to auto to ensure the text is visible initially */
		min-width: 1px; /* You can adjust this to fit the size you need */
		white-space: nowrap;
		color: #fff;
		
		z-index: 10;
	  }
	  
	  .desc {
		color: rgba(255,255,255, .5);
		margin-top: 40px;
		line-height: 2;
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
	  }
	  
	  .readmore {
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		display: inline-block;
		margin-top: 80px;
		color: #fff;
		border-bottom: 1px solid #fff;
		text-decoration: none;
		text-transform: uppercase;
		padding-bottom: 3px;
		font-weight: bolder;
		font-size: 20px;
	  }
	  
	  .img-1 {
		display: none;
		/* position: absolute;
		transform: translate(-100%, -150%);
		background: url('./img/img-1.jpg') no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 600px; */
	  }
	  
	  
	  
	  .img-2 {
		display: none;
		/* position: absolute;
		right: 0;
		transform: translate(-100%, -10%);
		background: url('./img/img-2.jpg') no-repeat;
		background-position: center;
		background-size: cover;
		width: 0;
		height: 350px;
		margin-bottom: 30px; */
	  }
	  .img-3 {
		display: none;
		/* position: absolute;
		right: 0;
		transform: translateY(-10%); 
		background: url('./img/img-3.jpg') no-repeat;
		background-position: center;
		background-size: cover;
		width: 0;
		height: 600px; */
	  }
	
	  
	 
	  
	  .first {
		top: 0;
	  }
	  
	  .second {
		top: 33.3%
	  }
	  
	  .third {
		top: 66.6%;
	  }
	  
	
	
	  .first{
		background-color: black;
		height: 100vh;
		width: 100%;
	
	  }
	
	
	
	
	
	
	.cursor-follow {
		--cursor-size: 1px; /* Size of the cursor */
		position: fixed;
		height: var(--cursor-size);
		width: var(--cursor-size);
		border: 8px solid crimson; /* Create the ring with a red border */
		border-radius: 100%; /* Make it a circle */
		top: calc(var(--cursor-size) / 2 * -1);
		left: calc(var(--cursor-size) / 2 * -1);
		pointer-events: none;
		background-color: transparent; /* No background color to make it a ring */
		transition: border 0.2s ease, transform 0.2s ease; /* Optional transition for smoothness */
		z-index: 1000;
	}
	
	
	
	.content {
		display: flex;
		flex-direction: row;
		font-family: 'Orbitron', sans-serif;
		
		font-weight: 400;
		text-transform: uppercase;
		position: relative;
		
		width: 100%;
		top: 50%;
		transform: translate(50%, 50%);
		text-align: flex-end;
		color : white
	}
	

	
	:root {
		--progress1: 0;
	
		--black: hsl(0, 4%, 6%);
		--white: hsl(0, 10%, 98%);
		--gray: hsl(0, 0%, 79%);
		/* --progress1: 0; */
	
		--background: #060608;
		--color: #FAFAFA;
	  }
	
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	body{
		margin: 0;
	  padding : 10px;
	  width: 100vw;
	  min-width: 1600px;
		 background-color: #121212;
		
		 animation: fadeInAnimation ease 3s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
	}
	
	@keyframes fadeInAnimation {
		0% {
			opacity: 0;
		}
	
		100% {
			opacity: 1;
		}
	}
	
	
	body::-webkit-scrollbar {
		display: none;
	  }
	.menu2 {
		display: none;
	}
	  .menu{
		position: fixed;
		z-index: 100;
	  top: 5%;
	  left: 0;
	  transform: translateY(-50%);
	  writing-mode: vertical-rl; /* Makes the text vertical */
	  text-orientation: mixed; /* Ensures characters remain upright */
	  /* background-color: #333;  */
	
	  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
	  border-radius: 0px; /* Rounded corners */
	  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
	  -webkit-backdrop-filter: blur(10px); /* For Safari */
	  border: 1px solid rgba(255, 255, 255, 0.2); /* Optional: light border for better effect */
	
	  color: #fff; /* Text color for better contrast */
	  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow to enhance the effect */
	  transform: rotate(180deg);
	  padding:20px;
	  gap: 10%;
	  color: #e3d5c3; /* Change to your desired text color */
	  height: 90vh;
	
	
	  }
	  .menu .portfolio{
		display: none;
	}
	  
	  
	  .menu-container {
		display: flex;
		flex-direction: row;
		
	  }
	  
	  .link {
		margin: 10px 0;
	  }
	  
	  .link a {
		text-decoration: none;
		font-family: "Bodoni Moda SC", serif;
	  font-optical-sizing: auto;
	  font-weight: 200;
	  font-style: normal;
		font-size: 1rem;
	color: #e3d5c3;
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: font-size 0.5s ease;
	  }
	  .link a.active {
		color: #008BA7; /* Active link color */
	  }
	  .link a:hover {
		font-size: 1rem;
	  }
	  
	.link a:hover .horizontal_line {
		width: 60px;
		margin-left:5px;
	  }
	
	  .horizontal_line {
		display: inline-block;
		width: 30px;
		height: 1px;
		background-color: #aaaaaa;
		margin: 10px 10px;
		transition: width 0.3s ease;
		
	  }
	  .horizontal_line.clicked {
		width: 60px; /* Width after clicking */
	  }
	
	
	
	
	
	 
	  
	  .section {
		width: 100vw;
		height: 100vh;
		position: relative;
	  }
	  
	  /* GIF Section Styles */
	  .gif-section{
		display: none;
	  }
	  
	
	  
	
	
	.body{
		
min-width: 100vw;
		background-color: #121212;
		
		
	
	}
	
	
	
	
	.scrollable::-webkit-scrollbar {
	  display: none;
	}
	html {
		
		font-family: 'Montserrat', sans-serif;
		scroll-behavior: smooth;
	}
	a {
		text-decoration: none;
	}
	.container {
		min-height: 100vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		/* transform: scale(0); */
	}
	
	p {
		color: black;
		font-size: 1.4rem;
		margin-top: 5px;
		line-height: 2.5rem;
		font-weight: 300;
		letter-spacing: 0.05rem;
	}
	.section-title {
		font-size: 4rem;
		font-weight: 300;
		color: black;
		margin-bottom: 10px;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
		text-align: center;
	}
	
	
	/* Hero Section */
	#hero {
	background-color: #121212 ;
		margin-bottom: 10px ;
		width: 100%;
		display:flex;
		justify-content: flex-start;
		margin-top: 0;
		padding-top: 0;
	
		
	  }
	
	#socials-container {
		justify-content: flex-start;
		margin-top: 1rem;
		gap: 4rem;
	  }
	  

	
	
	
	
	
	
	
	
	
	/* End Hero Section */
	
	/* Services Section */

	#services{
		display: none;
	}
	#servicesM  {
		display: flex;
		flex-direction: column;
		width: 100%;
		
		background-color:#171614;

		margin-bottom: 800px;
		padding-top: 3px;
		position: relative;
	}
	.servicesM {
		display: flex;
		flex-direction: column;
		width:100%;
	
	}
	.content-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%; /* Full width of the container */
		margin-top: 5%; /* Adjust as needed */

		margin-bottom: 20%;
		
	  }
	
	.services-title-div{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 100;
	}
	  .overlap-about {
		font-family: "Roboto Condensed", sans-serif;
		width: 100%;
		text-align: center;
		color: #ffffff;
		top: 2%;
		left: 0%;
		font-weight: 800;
		background-color: #121212;
		z-index: 99;
		
	}
	.overlap-about span {
		font-size: 80vw;
		text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.7);
	  }
	  .overlap-about span:not(:first-child) {
		margin-left: -0.18em;
	  } 
	  
	

	.number1{
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
		font-size: 25rem;
			color: #300000;
		/* color: #e3d5c3; */
		letter-spacing: 0.2rem;
		margin-bottom: 10px;
		margin-top: 100px;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
	
	}
	
	
	.cta {

		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 40px;
		color: white;
		background-color: transparent;
		border: 6px solid #8697C4;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		margin-top: 30px;
		margin-bottom: 80px;
	
		transition: 0.3s ease;
		transition-property: background-color, color;
	}
	.cta:hover {
		color: white;
		background-color: crimson;
	}
	.sub{
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
		font-size: 38px;
		color:whitesmoke;
		letter-spacing: 0.2rem;
		text-align: center;
		margin-bottom: 5%;
		text-transform: uppercase;
	
		margin-top: 5%;
	}
	
	.pM {

width:60%;

		font-family: "Inter", sans-serif;
	  font-optical-sizing: auto;
	  font-weight: 400;
	  font-style: normal;
	  font-size: 16px;
	  line-height: 1.5;
	  font-variation-settings:
		"slnt" 0;
		color: #A9A9A9;
		display: flex;
		justify-content: center;
		text-align: center;
		text-align-last: center;
	
	}
	
	/* Style for the left div */
	.service-leftM {
		
	   width:100%;
		flex-basis: 100%;	
		padding: 10px;
		padding-left: 2px;
		background-color:#171614;
		transition : 1s;
		/* border-top: 2px solid #e3d5c3;
		border-bottom: 2px solid #e3d5c3; */
		margin-top: 0%;
		z-index: 1;
	  }
	
	  
	  
	  .service-leftM:hover ~ .service-right {
		flex-basis: 60%;
	}
	
	
	
	
	.service-rightM {
		display: flex;
		flex-direction: column;
	 background-color: #000000;
		 justify-content: center;
		align-items: center;
		width: 100%;
	padding: 100px 100px 100px 100px;
		/* border-style: solid;
		border-color: #e3d5c3;
		border-radius: 0px;
		border-width: 0.5px; */
	}
	.u{
		display: flex;
		flex-direction: row;
	
		width: 100%;
		
	}
	.uleft{
		display: flex;
		flex-direction: column;
		width: 80%;
	}
	.uright{
		display: flex;
		flex-direction: column;
		width: 20%;
	}
	  .ul{
		padding: 0 5px;
		list-style: none;
		margin-top: 1%;
		margin-left: 10%;
		margin-bottom: 25%;
		
	  }
	  .ul li{
		padding-bottom: 10px;
		margin-top: 30px;
	  }
	.aa{
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 300;
		font-style: normal;
		font-size: 18px;
		margin-bottom: 20%;
		color:#A9A9A9;
	}
	.socials-container{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	.icon {
		width: 5rem;
		cursor: pointer;
		height: 5rem;
		margin-right: 50px;
		margin-top: 30px;
		margin-bottom: 40px;
	  }
	  
	
	#servicesM .service-top {
		justify-content: center;
		flex-basis: 60%;
		margin-left: 20%;
		max-width: 900px;
	
		
	}
	
	
	/* End Services Section */
	
	/* Projects section */
	#projectsM {
		display: none;
	}
	#projects .projects {
		
		transform: scale(1); /* Default scale */
		transition: transform 0.5s ease-in-out; /* Smooth scaling */
	
		background-image: url(./img/projects.jpg);
		 background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display:flex;
		flex-direction: column;
		margin-bottom: 20px;
		width:100%;
		padding-left: 100px;	
	
	}
	.projects-title-div{
			width: 100%;
			display: flex;
			justify-content: flex-start;
		
		
		}
	
		.overlap-projects{
			font-family: "Roboto Condensed", sans-serif;
			width: 100%;
			text-align: center;
			color: #ffffff;
			top: 50%;
			font-weight: 800;
			background-color: #8697c4;
		}
		.overlap-projects span {
			font-size: 80vw;
			text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.7);
		}
		.overlap-projects span:not(:first-child) {
			margin-left: -0.18em;
		}
		
			
	#projects .projects-header h1 {
		margin-bottom: 50px;
	}
	#projects .sub-projects{
		display:flex;
		justify-content: center;
		flex-direction: column;
		width:100%;
	}
	
	
	.circle{
		margin-top:25px;
		margin-left:-2.5px;
		flex-basis: 5%;
		float:left;
		width: 0.4vw; 
		height: 0.4vw; 
		background-color: #008BA7;
		border-radius: 50%;
		display: flex;
	
	}
	.education{
		flex-basis: 100%;
	}
	.education-container{
		display:flex;
	}
	.education-container h1{
		font-family: "Bebas Neue", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 28px;
		margin-bottom: 1%;
		color:antiquewhite;
		text-transform: uppercase;
	}
	.education-container h2{
		font-family: "Bebas Neue", sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 24px;
		margin-bottom: 5%;
		color: #ede8f5;
	}
	.education-container h3{
		font-family: "Bebas Neue", sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 20px;
		margin-bottom: 5%;
		color: antiquewhite;
	}
	.education-container p{
		font-family: "Bebas Neue", sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 17px;
		margin-bottom: 20px;
		color: whitesmoke;
	}
	#projects .projects-left{
	
		float:left;
		
		width: 100%;
		padding: 100px 0px 100px 100px;
	
	}
	#projects .projects-right{
	margin-top: 10%;
		
		width: 100%;
		padding: 100px 0px 100px 100px;
		
	}
	
	
	.containerE{
		width:100%;
	
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 10%;
		
	  }
	  .experience-container{
		display:flex;
		flex-direction: row;
		justify-content: center;
		gap: 20%;
		width: 80%;
		margin-top: 5%;
		
	  }
	
	.skills{
		width: 100%;
		max-width: 600px;
		padding: 0 20px;
		gap: 80px;
	  }
	  .skill{
		margin-bottom : 20%;
	  }
	  .skill-name{
		font-family: "Titillium Web", sans-serif;
		font-weight: 200;
		font-style: normal;
		font-size: 12px;
		
		color: antiquewhite;
		text-transform: uppercase;
		margin: 20px 0;
	  }
	  
	  .skill-bar{
		height: 1px;
		background: #282828;
		border-radius: 0px;
	  }
	  
	  .skill-per{
		height: 14px;
		background: #008BA7;
		border-radius: 0px;
		position: relative;
		animation: fillBars 2.5s 1;
	  }
	  
	  .skill-per::before{
		content: attr(per);
		position: absolute;
		padding: 4px 6px;
		
		
		font-size: 12px;
		top: -35px;
		right: 0;
		transform: translateX(50%);
	  }
	  
	  .skill-per::after{
		content: "";
		position: absolute;
		width: 10px;
		height: 10px;
		
		top: -20px;
		right: 0;
		transform: translateX(50%) rotate(45deg);
		
	  }
	  
	  @keyframes fillBars{
		from{
		  width: 0;
		}
		to{
		  width: 100%;
		}
	  }
	 .projects-title{
		font-size: 2rem;
		font-weight: 200;
		color: #8697c4;
		margin-bottom: -2px;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
		
	}
	 .sub-projects-title{
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
		font-size: 5.5rem;
		color:whitesmoke;
		letter-spacing: 0.2rem;
		margin-bottom: 10px;
		text-transform: uppercase;
		
	}
	.sub-projects-title span{
		color: #8697C4;
		font-weight: 400;
		font-size: 5.5rem ;
	}
	
	.containerC{
		width: 100%;
		
		height:50vh;
		display:flex;
		flex-direction: column;
		margin-top: 20%;
		margin-bottom: 20%;
		padding:40px 1px;
	
		
	}
	.circle-graphs{
		width:100%;
		height:40vh;
		display:flex;
	
		margin-top: 5%;
		padding: 10px;
		gap: 1%;
	}
	.one-circle{
	 height:120px;
	 width:270px;
	 position: relative;
	 padding:2px 40px;
	}
	.one-circle p{
	font-size: 16px;
	color:antiquewhite;
	padding: 30px 20px;
	}
	
	.circular-progress {
		position: relative;
		height: 100px;
		width: 100px;
		border-radius: 50%;
		display: grid;
		place-items: center;
	  }
	  .circular-progress:before {
		content: "";
		position: absolute;
		height: 94%;
		width: 94%;
		background-color: #121212;
		border-radius: 50%;
	  }
	  .value-container {
		position: relative;
		font-family: "Roboto Condensed", sans-serif;
		font-size: 1.5rem;
		color: whitesmoke;
	  }
	svg{
		position:absolute;
		top:0;
		left:0;
	}
	
	/* End Projects section */
	
	
	/* Work Section */
	#work .work {
		padding-left: 100px;
		max-width: 1200px;
		margin: 0 auto;
		width: 100%;
		
	
	
	}
	.work{
		display:flex;
		flex-direction: column;
		padding: 10px 10px;
		}
	.two-cols{
		display: flex;
		flex-direction: row;
		gap: 1px;
		
	}
	.one{
		flex-basis: 60%;
		display: flex;
		flex-direction: column;
		
	}
	
	.two{
		flex-basis: 90%;
		margin-left: 1%;
		margin-top: 100px ;
		display: flex;
		flex-direction: column;
		background-color: #e3d5c3;
	}
	
	.work-title{
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
		font-size: 2rem;
		color:whitesmoke;
		letter-spacing: 0.2rem;
		margin-bottom: 3px;
		margin-top:15px;
	}
	.sub-work-title a{
		font-size: 1rem;
		font-weight: 200;
		color:crimson;
		margin-bottom: -2px;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
		cursor: pointer;
	}
	
	.pic-left{
	 
	   width:100%;
	   height: 600px;
	   margin-left:0%;
	   background-color: #171614;
	border: 1px solid #2d2a27;
	padding-left: 5px;
	padding-right: 5px;
	   /* padding: 20px 15px; */
	   transition: 1s;
	   margin-bottom: 100px;
	   display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	
	}
	
	.pic-right{
	flex-basis:55%;
	width:50%;
	margin-left: 2%;
	background-color: #171614;
	padding-left: 20px;
	padding-right: 20px;
	transition: 1s;
	
	}
	/* .pic-left img:hover , .pic-right img:hover{
		transform: scale(1.4);
		z-index: 1;
	} */
	
	.pic-left img, .pic-right img {
	   
	width:100%;
		height: 80%; 
		border-radius: 0px;
		transition: 1s;
		margin-bottom: 60px;
	   
		
	  }
	  .small-img{
		max-width: 100%; 
	width:98%;
		height: 70%; 
	   
		
	  }
	
	  #three{
		width:80%;
		
		padding: 100px;
		margin-left: 10%;
		margin-top: 400px;
		margin-bottom: 300px;
		display:flex;
		align-items: center;
		justify-content: center;
		background-color: #121212;
		
		animation: bounce 1s ease-in-out;
	}
	
	@keyframes bounce {
		0%,
		100% {
			transform: translateY(0);
		}
	
		50% {
			transform: translateY(-20px);
		}
	}
	  .outer-cont{
		width: 90%;
		height:60%;
		position:relative;
		margin-top:37%;
		display: flex;
		flex-direction: row;
	  }
	
	  .outer-cont-left{
		flex-basis: 60%;
		float:left;
		margin-left:2%;
		padding: 10px;
	
	  }
	.outer-cont-right{
		flex-basis: 40%;
		float:right;
	margin-left:8%;
	justify-content: center;
	align-items: center;
	
	padding-top: 10%;
	
	  }
	  
	.outer-cont-title{
		font-family: "Bebas Neue", sans-serif;
	  font-weight: 200;
	  font-style: normal;
		font-size: 4.75rem;
		color:whitesmoke;
		letter-spacing: 0.2rem;
		margin-bottom: 1.75px;
		margin-top:15px;
	}
	.outer-cont-sub-title{
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
	  font-weight: 200;
	  font-style: normal;
	  font-size: 1.5rem;
		color:antiquewhite;
		letter-spacing: 0.2rem;
		margin-bottom: 3px;
		margin-top:10px;
	}
	
	
	
	.btn-flip {
		opacity: 1;
		border: none;
		outline: none;
		color: #fff;
		line-height: 40px;
		position: relative;
		justify-content: center;
		align-items: center;
		text-align: center;
		letter-spacing: 1px;
		display: inline-block;
		text-decoration: none;
		width: 350px;
		height: 40px;
		font-size: 2rem;
		font-family: "Roboto Condensed", sans-serif;
		text-transform: uppercase;
	  }
	  
	  .btn-flip:hover:after {
		opacity: 1;
		transform: translateY(0) rotateX(0);
	  }
	  
	  .btn-flip:hover:before {
		opacity: 0;
		transform: translateY(50%) rotateX(90deg);
	  }
	  
	  .btn-flip:after {
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		color: #fff;
		display: block;
		transition: 0.5s;
		position: absolute;
		background: #121212;
		border: 2px solid #fff;
		content: attr(data-back);
		transform: translateY(-50%) rotateX(90deg);
	  }
	  
	  .btn-flip:before {
		top: 0;
		left: 0;
		opacity: 1;
		color: #fff;
		display: block;
		padding: 0 30px;
		line-height: 40px;
		transition: 0.5s;
		position: relative;
		background: #8697c4;
		content: attr(data-front);
		transform: translateY(0) rotateX(0);
	  }
	  
	
	
	#floatingWidget {
		top: 50%;
		left: 60%;
		transform: translate(-50%, -50%);
		position: fixed;
	
		bottom: 80px; /* Adjust as needed */
		
		width: 80%;
		margin-left:-100px;
		height: 83vh;
		padding-bottom: 50px;
		background: rgba(255, 255, 255, 0.2); /* White background with opacity */
		backdrop-filter: blur(10px); /* Blur effect for glass appearance */
		-webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
		border-radius: 10px; /* Optional, for rounded corners */
		border: 1px solid #EDE8F5; /* Optional, for a subtle border */
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional, for a slight shadow */
		color: white;
		z-index: 999;
		border-radius: 0px;
		
		/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
		display: none; /* Hidden by default */
	  }
	  
	 
	  .hidden {
		display: none;
	  }
	  .closeButtonDiv{
		display:flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-top: 0px;
		
		
	  }
	  #closeButton {
		font-family: "Montserrat", sans-serif;
	  font-optical-sizing: auto;
	  font-weight: 200;
	  font-style: normal;
		font-size: 3rem;
		margin-top: 0px;
		padding: 5px 10px;
		color: #dc3545;
		border: none;
		border-radius: 0px;
		cursor: pointer;
		background-color: transparent;
		transform : font-size 1.9sec ease-in-out;
		transform : color 1.9sec ease-in-out;
		transition: 1s;
	  }
	  #closeButton:hover{
	font-size: 3.15rem;
	color:#e3d5c3;
	
	transform: scale(1.4);
	  }
	  .contact-me{
	display:flex;
	flex-direction: row;
	
	  }
	  .c-title-div{
		display:flex;
	flex-direction: row;
		justify-content: space-between;
		margin-bottom: 20px;
		padding:10px 150px 0 50px;
	
	  }
	  .c-title{
		font-family: "Bebas Neue", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 5.75rem;
	color: #EDE8F5;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
	margin-top:15px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	  }
	  
	  .c-right{
		display: flex;
		flex-direction: column;
		gap: 40px;
		flex-basis: 70%;
		float:right;
		margin-left:2%;
		padding: 0px 50px;
	
	  }
	  .c-left{
		flex-basis: 30%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		
		margin-left:0%;
		padding: 10px;
	  }
	  .item-1 {
		height: 50px;
		background-color: transparent;
		border: none;
		font-family: "Bebas Neue", sans-serif;
	  }
	  .item-1 .inner {
		display: block;
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		
	  }
	  .item-1 .inner:before {
		content: "";
		position: absolute;
		height: 2px;
		width: 50px;
		background-color: #e3d5c3;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
		transition: ease-out 0.2s all;
	  }
	  .item-1 .inner:after {
		content: "";
		position: absolute;
		height: 2px;
		width: 50px;
		background-color: #e3d5c3;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		transition: ease-out 0.2s all;
	  }
	  .item-1 .label {
		color: #e3d5c3;
		opacity: 0;
		transition: all 0.2s ease-out;
	  }
	  .item-1:hover .inner:before, .item-1:focus .inner:before {
		transform: translate(-50%, 0%) rotate(0);
		top: 25%;
	  }
	  .item-1:hover .inner:after, .item-1:focus .inner:after {
		transform: translate(-50%, 0%) rotate(0);
		top: 76%;
	  }
	  .item-1:hover .label, .item-1:focus .label {
		opacity: 1;
	  }
	  
	 
	  .ul2{
		padding: 0 5px;
		list-style: none;
		margin-top: 1%;
		margin-left: 10%;
		
	  }
	  .ul2 li{
		padding-bottom: 1px;
	  }
	.aa2{
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 50;
		font-style: normal;
		font-size: 2rem;
		margin-bottom: 20%;
		color:#fff;
	}
	.c-right input, .c-right textarea{
		
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 50;
		font-style: normal;
		font-size: 1.5rem;
		width: 100%;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #EDE8F5;
		color: #ffffff;
		padding : 10px;
	}
	.c-right input{
		border-bottom: 1px solid #EDE8F5;
	}
	.c-right input::placeholder, .c-right textarea::placeholder{
		color: #ffffff;
		font-size: 1.5rem;
	
	}
	.c-right textarea{ 
		overflow: auto; /* Add scrollbars if the content exceeds the size */
		resize: none; 
		border: 1px solid #EDE8F5;
	}
	.c-left button{
		
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 50;
		font-style: normal;
		font-size: 1.5rem;
		width: 100%;
		padding: 10px;
		margin-top: 80%;
		background-color: #ADBBDA;
		color: #121212;
	
		border: 1px solid #2d2a27;
		transform : font-size 0.3sec ease-in-out;
	}
	
	.c-left button:hover{
		font-size: 1.6rem ;
		background-color: transparent;
		color:#e3d5c3;
		border: 1px solid #e3d5c3;
	}
	
	 .c-right input:focus {
		border: none; /* Remove border when textarea is focused */
		outline: none; /* Remove default outline */
		border-bottom: 1px solid #e3d5c3;
	  }
	
	  .c-right textarea:focus {
		border: none; /* Remove border when textarea is focused */
		outline: none; /* Remove default outline */
		border: 1px solid #e3d5c3;
	  }
	
	/* Keyframes */
	@keyframes hamburger_puls {
		0% {
			opacity: 1;
			transform: scale(1);
		}
		100% {
			opacity: 0;
			transform: scale(1.4);
		}
	}
	@keyframes text_reveal_box {
		50% {
			width: 100%;
			left: 0;
		}
		100% {
			width: 0;
			left: 100%;
		}
	}
	@keyframes text_reveal {
		100% {
			color: white;
		}
	}
	@keyframes text_reveal_name {
		100% {
			color: crimson;
			font-weight: 500;
		}
	}
	/* End Keyframes */
	
	
	
	/* services i offer */
	.offer-title-div{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		
		
	}
	  
	  .overlap-offer {
		font-family: "Roboto Condensed", sans-serif;
		width: 100%;
		text-align: center;
		color: #ffffff;
		top: 50%;
		left: 35%;
		font-weight: 800;
		background-color: #8697C4;
	}
	.overlap-offer span {
		font-size: 80vw;
		text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.7);
	}
	.overlap-offer span:not(:first-child) {
		margin-left: -0.18em;
	}
	
	.bg {
		background: #9b3636;
		position: fixed;
		top: 0;
		left: 0;
		width: 50%;
		z-index: 1;
		opacity: 0; /* Start hidden */
		transition: opacity 0.5s ease;
	  } 
	  .section {
		display: flex; 
		flex-direction: column;
		position: relative;
		z-index: 2;
		margin-left: -10%;
		
		
		
	  }
	  /* .section > * {
		width: 50%;
		
	  } */
	  .section-img {
		position: relative;
		display: flex;
	  }
	  .section-img-inner {
		height: 100vh;
		position: fixed;
		left: 5%;
		width: 40%;
		top: 0;
		/* top: 5%; */
		mix-blend-mode: multiply;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		filter: grayscale(50%);
		filter: blur(30px);
		opacity: 0; /* Start hidden */
		transition: .6s ease, opacity .6s ease, background-position .8s ease;
	  }
	  .section-img-inner img{
		filter: grayscale(50%);
	  }
	  .section-body {
		display: flex;
		
		align-items: center;
	  }
	  .section-text {
		padding: 5vw;
		color: #fff;
	  }
	  .section-text p {
		font-family: "Garamond", serif;
		font-optical-sizing: auto;
	  font-weight: 200;
	  font-style: normal;
	  font-size: 16px;
	  font-variation-settings:
		"slnt" 0;
	color: #e3d5c3;
		
	  }
	  .section.active .section-img-inner {
		opacity: 1; /* Show the image when active */
		filter: blur(0);
	  }
	  .section.active .bg {
		opacity: 1; /* Show the background when active */
	  }
	  .section.inactive .section-img-inner {
		opacity: 0; /* Hide the image when inactive */
	  }
	
	  .faded-image {
		filter: grayscale(50%);
		-webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 80%);
		mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 80%);
	  }
	  
	
	  
	  