@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  .gt {
    margin-top: 100px;
    font-size: 1.25rem;

  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .cr{
    text-align: center;
    flex-basis: 100%;
    font-size: 1.25rem;
    width: 10px;
    margin-top: 50000px;
    padding-right: 500px;
    text-align: center;
    position:relative; left:-200px;
    height: 83vh;
    margin-right:6000px;
  }
}

@media screen and (max-width: 600px) {
  #contact{
    height: 83vh;
    margin-bottom: 0;
  }
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }

.contact-info-upper-container{
  margin-top: 200px;
}
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    margin-top: 600px;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__text{
    margin-top:100px;
  }

  .mv{
    height: 83vh;
    font-size: 1.5rem;
    width:100%;
  }
  
  .span{
    text-align: center;
    position:relative; left:-200px;
    
  width:100%;
    margin-top: 600px;
  }
  .section__pic-container {
    width: 50px;;
    height:50px;
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__pic-container img{
    height: 270px;
    width: 200px;
  }
  .section__text__p3 {
    flex-wrap: wrap;
    font-size: 1.25rem;
    margin-left: -400px;
    text-align: center;
    margin-top: 200px;

  }

  .section__text__p4{
    flex-wrap: wrap;
    font-size: 1.25rem;
    margin-left: 200px;
    text-align: center;
    margin-top: 200px;
  }
  .gt {
    margin-top: 100px;
    font-size: 1.25rem;

  }
  .title {
    font-size: 2rem;
  }
  .title2 {
    font-size: 1.5rem;
    margin-left: 200px;
  }
  .text-container {
    text-align: justify;
  }
  .gt2{
    font-size: 1rem;
    
  }
  .cr{
    text-align: center;
    flex-basis: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-top: 500px;
    padding-right: 500px;
    text-align: center;
    position:relative; left:-200px;
    height: 83vh;
    margin-right:60px;
  }
  .btns{
    margin-left: 20px;
  }
  .cs{
    width:400px;
    height:50px;
  }
  nav-links-container{
    margin-top: 100px;
  }
}