@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }

  .mv{
    height: 83vh;
    font-size: 1.5rem;
    width:100%;
  }
  
  .span{
    text-align: center;
    position:relative; left:-200px;
  }  


  
}
@media (max-width: 600px) {
  .contact-info-upper-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .contact-info-container {
    margin: 0 10px;
  }
  .faded-image{
    border-radius: 100% 100% 90% 100% / 98% 100% 0% 100%  ;;
    display: block; /* Ensures the image is treated as a block element */
  margin: auto; /* Centers the image horizontally */
  max-width: 80%; /* Ensures the image does not exceed the width of its container */
  width: 60%; /* Reduces the size of the image to 50% of its container */
   /* Optional: adds rounded corners to the image */
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s ease-in-out;
  
  /* Adds a shadow with fading effect */
  }
  
  .A ,.PP,.B {
    flex-wrap: wrap;
    margin:auto;
    width:100%;
  }
}

@media (min-width: 1024px) {
  .contact-info-container {
    margin: 0 20px;
  }
}
@media (min-width: 768px) {

  .faded-image{transition: transform 0.4s ease-in-out;}
  .faded-image:hover {
    transform: scale(1.1); /* Scales the image up by 20% when hovered */
  }
}