@media only screen  and (max-width:400px){
	body{
		margin: 0;
	  padding : 10px;
	  width: 100vw;
	  min-width: 1500px;
	  overflow-x: hidden; 
		 background-color: #000000;
	}
	body::-webkit-scrollbar {
		display: none;
	  }

	  .menu 
	  {
		display: none;
	  }
	
	  .menu2{
		width : 95%;
		height : 2%;
		position: fixed;
		z-index: 100;
	    top: 0;
	    left: 0;
		background-color: #000000;
	    /* background-color: #333; */
        padding: 40px;
	    color: #e3d5c3; /* Change to your desired text color */
	  }
	  .menu2 .portfolio{
		display: none;
	}
	  
	  
	  .menu-container2 {
		width: 100%;
		display: flex;
		flex-direction:row;
		justify-content: center;
		align-items: center;
	  }
	  
	 .link2 {
		margin: 2px 32px;
	  }
	  
	  .link2 a {
		text-decoration: none;
		font-family: "Bodoni Moda SC", serif;
	  font-optical-sizing: auto;
	  font-weight: 200;
	  font-style: normal;
		font-size: 5.5rem;
	color: #e3d5c3;
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: font-size 0.5s ease;
	  }
	  .link2 a.active {
		color: #008BA7; 
	  }
	  .link2 a:hover {
		color: #008BA7; 
		font-size: 3.6rem;
	  }
	  
	.link2 a:hover .horizontal_line {
		width: 60px;
		margin-left:15px;
	  }
	
	  .horizontal_line2 {
		display: inline-block;
		height: 30px;
		width: 1px;
		background-color: #ffffff;
		margin: 10px 10px;
		transition: width 0.3s ease;
		
	  }
	  .horizontal_line2.clicked {
		width: 60px; /* Width after clicking */
	  }
	




	
 .body{
	width: 90%; 
   margin-left: 6.5%;
   padding: 5px;
   box-sizing: border-box;
   background-color: #000000;
	} 
	 
	
	
	
	.scrollable::-webkit-scrollbar {
	  display: none;
	}
	html {
		font-size: 10px;
		font-family: 'Montserrat', sans-serif;
		scroll-behavior: smooth;
	}
	a {
		text-decoration: none;
	}
	.container {
		min-height: 100vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	p {
		color: black;
		font-size: 1.4rem;
		margin-top: 5px;
		line-height: 2.5rem;
		font-weight: 300;
		letter-spacing: 0.05rem;
	}
	.section-title {
		font-size: 4rem;
		font-weight: 300;
		color: black;
		margin-bottom: 10px;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
		text-align: center;
	}
	.section-title span {
		color: crimson;
	}
	
	
	.brand h1 {
		font-size: 2.5rem;
		text-transform: uppercase;
		color:#A9A9A9;
		
	}
	.brand h1 span {
		color: crimson;
	}
	
	
	
	/* Hero Section */
	#hero {
	
	width: 100%;
		margin-bottom: 200px ;
	padding: 0;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
	  }
	
	
	  
	.icon {
		cursor: pointer;
		height: 4rem;
	  }
	
	#hero .hero {
		width: 100%;
		
	}
	#hero .hero-line-container {
		margin-top: 2%;
		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
		width:100%;
		
	}
	.overlap{
		font-family: "Roboto Condensed", sans-serif;
		width: 100%;
		text-align: center;
		left :0;
		color: #ffffff;
		top: 20%;
		font-weight: 800;
	  }
	  .overlap span {
		font-size: 100vw;
		text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.7);
	  }
	  .overlap span:not(:first-child) {
		margin-left: -0.18em;
	  }
	  .overlap .v {
		color: crimson;
		
	  }
	
	
	#hero .h{
		
	  width: 100%;
	  margin-top: 10%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	#hero h1 {
		width: fit-content;
		position: relative;
		color: transparent;
		animation: text_reveal 0.5s ease forwards;
		animation-delay: 1s;
		
	}
	
	#hero .name1{
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
		font-size: 10rem;
		animation-delay: 1s;
		color:crimson;
		border: 2px solid #000000;
		background-color: #000000;
		z-index: 10;
	}
	
	
	.who{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: -5px;
		margin-top: 2%;
	
	}
	.who2{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: -5px;
	
	}
	
	#hero  .name3 {
		
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
		font-size: 55vw;
		animation: text_reveal_name 0.5s ease forwards;
		animation-delay: 3s;
		color:#e3d5c3;
		margin-top: -7%;
		margin-bottom: 20px;
		align-items: center;
		/* left: 20%; */
	}
	
	#hero h1 span {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		background-color:#A9A9A9;
		animation: text_reveal_box 1s ease;
		animation-delay: 0.5s;
	}
	#hero .name1 span {
		animation-delay: 0.5s;
	}
	#hero .name2 span {
		animation-delay: 1.5s;
	}
	#hero .name3 span {
	
		animation-delay: 2.5s;
	}
	@keyframes text_reveal {
		to {
		  color: #e3d5c3;
		}
	  }
	  
	  @keyframes text_reveal_box {
		to {
		  width: 100%;
		}
	  }
	  
	  @keyframes changeColor {
		to {
			
		  color: #e3d5c3;
		}
	  }
	  
	  
	  /* Style for the 'finished' state */
	  #hero h1.finished {
		animation: changeColor 0.5s forwards;
	  }
	
	  
	
	/* End Hero Section */
	
	/* Services Section */

	#services{
		display: none;
	}
	#servicesM  {
		display: flex;
		flex-direction: column;
		width: 150%;
		margin-left: -10%;
		height: 200vh;
		background-color:#171614;
		border: 1px solid #333;
		margin-top: 10%;
		margin-bottom: 200px;
		padding-top: 30px;
		position: relative;
	}
	.servicesM {
		display: flex;
		flex-direction: row;
		width:100%;
	
	}
	.content-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%; /* Full width of the container */
		margin-top: 35%; /* Adjust as needed */

		margin-bottom: 20%;
		
	  }
	
	.services-title-div{
		width: 5%;
		height: 90%;
		display: flex;
		justify-content: flex-end;
		/* align-items: center; */
	     margin-top: auto;
	    transform: translateY(-50%);
		writing-mode: vertical-rl; /* Makes the text vertical */
		text-orientation: mixed; /* Ensures characters remain upright */
		transform: rotate(180deg);
		z-index: 100;
	}
	  .overlap-about {
		font-family: "Roboto Condensed", sans-serif;
		width:100%;
		text-align: center;
		justify-content: center;
		color: #ffffff;
		/* position: absolute; */
		/* transform: translate(-50%, -50%); */
		top: 0%;
		left: 0%;
		bottom: 100px;
		font-weight: 800;
		
	}
	.overlap-about span {
		font-size: 35vh;
		text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.7);
	  }
	  .overlap-about span:not(:first-child) {
		margin-top: -0.18em;
	  } 
	  
	
	.services-title{
		font-size: 1.75rem;
		font-weight: 200;
		color:crimson;
		margin-bottom: 10px;
		margin-top: 100px;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
		float: left;
	}
	.number1{
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
		font-size: 25rem;
			color: #300000;
		/* color: #e3d5c3; */
		letter-spacing: 0.2rem;
		margin-bottom: 10px;
		margin-top: 100px;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
	
	}
	.h2{
		display: flex;
		flex-direction: column;
		width: 90%;
		margin-left: 10%;
		justify-content: center;
	margin-bottom: 20px;
		margin-top: 50px;
	
	  }

	  .auto-type {
		font-size: 5rem;
		color: crimson;
		letter-spacing: 0.1rem;
		animation: auto-type 1s steps(30, end) infinite;
	}
	
	.section__text__p3{
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
		font-size: 5rem;
		color:whitesmoke;
		letter-spacing: 0.1rem;
		
	}
	.cta {

		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 60px;
		color: white;
		background-color: transparent;
		border: 6px solid crimson;
		font-size: 10rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		margin-top: 20px;
		margin-bottom: 80px;
		margin-left: 10%;
		transition: 0.3s ease;
		transition-property: background-color, color;
	}
	.cta:hover {
		color: white;
		background-color: crimson;
	}
	.sub{
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
		font-size: 8rem;
		color:whitesmoke;
		letter-spacing: 0.2rem;
		text-align: center;
		margin-bottom: 5%;
		text-transform: uppercase;
		margin-left: 10%;
	}
	
	.pM {

width:60%;
margin-left: 10%;
		font-family: "Inter", sans-serif;
	  font-optical-sizing: auto;
	  font-weight: 100;
	  font-style: normal;
	  font-size: 5.3rem;
	  line-height: 1.5;
	  font-variation-settings:
		"slnt" 0;
		color: #A9A9A9;
		display: flex;
		justify-content: center;
		text-align: center;
		text-align-last: center;
	
	}
	
	/* Style for the left div */
	.service-leftM {
	  width:50%;
		flex-basis: 100%;	
		height: 100vh;
		margin-left: 15%;
		padding: 10px;
		padding-left: 2px;
		background-color:#171614;
		transition : 1s;
		border: 2px solid #e3d5c3;
		margin-top: 0%;
		z-index: 1;
	  }
	
	  
	  
	  .service-leftM:hover ~ .service-right {
		flex-basis: 60%;
	}
	
	
	
	
	.service-rightM {
		display: flex;
		flex-direction: column;
		height: 100vh;
	 background-color: #000000;
		flex-basis: 100%;
		margin-left: -20%;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: -10%;
		padding-top: 250px;
		/* padding-left: 0px;
		padding-right: 1500px; */
		border-style: solid;
		/* border-color: #2d2a27; */
		border-color: #e3d5c3;
		border-radius: 0px;
		border-width: 0.5px;
	}
	  .ul{
		padding: 0 5px;
		list-style: none;
		margin-top: 10%;
		margin-left: 10%;
		
	  }
	  .ul li{
		padding-bottom: 10px;
	  }
	.aa{
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 100;
		font-style: normal;
		font-size: 4.8rem;
		margin-bottom: 20%;
		color:#A9A9A9;
	}
	  
	
	#servicesM .service-top {
		justify-content: center;
		flex-basis: 60%;
		margin-left: 20%;
		max-width: 900px;
	
		
	}
	
	
	/* End Services Section */
	
	/* Projects section */
	#projects {
		display: none ;
	}
	.projects{
		display: none;
	}
	#projectsM .projectsM {
		
		background-image: url(./img/projects.jpg);
		 background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display:flex;
		flex-direction: column;
		margin-bottom: 30%;
		width:100%;
		padding-left: 100px;
		margin-top: 100px;
	
		
		
	
	}
	.projects-title-div{
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: flex-start;
		
		
		}
	
		.overlap-projects{
			font-family: "Roboto Condensed", sans-serif;
			width: 100%;
			text-align: center;
			color: #ffffff;
			top: 50%;
			left: 35%;
			font-weight: 800;
		}
		.overlap-projects span {
			font-size: 70vw;
			text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.7);
		}
		.overlap-projects span:not(:first-child) {
			margin-left: -0.18em;
		}
		
			
		
	
		.number2{
			font-family: "Roboto Condensed", sans-serif;
			font-optical-sizing: auto;
			font-weight: 200;
			font-style: normal;
			font-size: 25rem;
			color: #300000;
			letter-spacing: 0.2rem;
			margin-bottom: 10px;
			margin-top: 0px;
			text-transform: uppercase;
			letter-spacing: 0.2rem;
		
		}
	#projects .projects-header h1 {
		margin-bottom: 50px;
	}
	#projectsM .sub-projectsM{
		display:flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width:90%;
		height: 140vh;
		/* background-color: #A9A9A9; */
	margin-top: 10px;
	margin-bottom: 15%;
	}
	
	.vertical-line{
		
	
		flex-basis: 5%;
		float:left;
	  width: 0.5px;
	  height: 40%;
	  background-color: lightcoral;
	
	}
	.circle{
		margin-top:25px;
		margin-left:-2.5px;
		flex-basis: 5%;
		float:left;
		width: 0.4vw; 
		height: 0.4vw; 
		background-color: crimson;
		border-radius: 50%;
		display: flex;
	
	}
	.education{
		flex-basis: 95%;
	}

	.education-container{
		display:flex;
		justify-content: center;
		align-items: center;
	}
	.education-container h1{
		font-family: "Bebas Neue", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 4.5rem;
		margin-bottom: 2px;
		color:antiquewhite;
	}
	.education-container h2{
		font-family: "Bebas Neue", sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size:7rem;
		margin-bottom: 2px;
		color: lightcoral
	}
	.education-container h3{
		font-family: "Bebas Neue", sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 4rem;
		margin-bottom: 2px;
		color: antiquewhite;
	}
	.education-container p{
		font-family: "Bebas Neue", sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 4rem;
		margin-bottom: 2px;
		color: whitesmoke;
	}
	#projectsM .projects-leftM{
		
		width:100%;
		margin-bottom: 15%;
		
	}
	#projectsM .projects-rightM{
		
		width:100%;
		margin-left: 70%;
	
		
	}
	
	
	
	.skills{
		width: 100%;
		max-width: 900px;
		padding: 0 20px;
	  }
	  
	  .skill-name{
		font-family: "Titillium Web", sans-serif;
		font-weight: 200;
		font-style: normal;
		font-size: 4rem;
		
		color: antiquewhite;
		text-transform: uppercase;
		margin: 20px 0;
	  }
	  
	  .skill-bar{
		height: 5px;
		background: #282828;
		border-radius: 0px;
		margin-bottom: 100px;
	  }
	  
	  .skill-per{
		height: 14px;
		background: #6a0000;
		border-radius: 0px;
		position: relative;
		animation: fillBars 2.5s 1;
	  }
	  
	  .skill-per::before{
		content: attr(per);
		position: absolute;
		padding: 4px 6px;
		
		
		font-size: 12px;
		top: -35px;
		right: 0;
		transform: translateX(50%);
	  }
	  
	  .skill-per::after{
		content: "";
		position: absolute;
		width: 10px;
		height: 10px;
		
		top: -20px;
		right: 0;
		transform: translateX(50%) rotate(45deg);
		
	  }
	  
	  @keyframes fillBars{
		from{
		  width: 0;
		}
		to{
		  width: 100%;
		}
	  }
	 .projects-title{
		font-size: 3.5rem;
		font-weight: 200;
		color:crimson;
		margin-bottom: -80px;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
		
	}
	 .sub-projects-title{
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 200;
		font-style: normal;
		font-size: 8rem;
		color:whitesmoke;
		letter-spacing: 0.2rem;
		margin-bottom: 10px;
		text-transform: uppercase;
		
	}
	
	
	.containerC{
		width:80%;
		margin-left: -10%;
		height:100vh;
		display: flex;
 flex-direction: column;
		margin-top: 0%;
		padding:30px 10px;
	}
	.circle-graphs{
		width:100%;
		height:40vh;
		flex-direction: column;
	
		padding: 5px;
	}
	.top{
		display: flex;
		flex-direction: row;
		margin-bottom: 200px;
	}

	.bottom{
		display: flex;
		flex-direction: row;
	}
	.one-circle{
		
	 height:280px;
	 width:350px;
	 position: relative;
	 padding:20px 100px;
	}
	.one-circle p{
	font-size: 4rem;
	color:antiquewhite;
	padding: 60px 105px;
	}
	
	.circular-progress {
		position: relative;
		height: 260px;
		width: 260px;
		border-radius: 50%;
		display: grid;
		place-items: center;
	  }
	  .circular-progress:before {
		content: "";
		position: absolute;
		height: 92%;
		width: 92%;
		background-color: #000000;
		border-radius: 50%;
	  }
	  .value-container {
		position: relative;
		font-family: "Roboto Condensed", sans-serif;
		font-size: 4rem;
		color: whitesmoke;
	  }
	svg{
		position:absolute;
		top:0;
		left:0;
	}
	
	/* End Projects section */
	

	.overlap-workA{
		font-family: "Roboto Condensed", sans-serif;
		width:100%;
		text-align: center;
		justify-content: center;
		color: #ffffff;
		/* position: absolute; */
		/* transform: translate(-50%, -50%); */
		top: 0%;
		left: 0%;
		bottom: 100px;
		font-weight: 800;
	  }
	  .overlap-workA span {
		font-size: 16vw;
		text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.7);
	  }  
	  .overlap-workA span:not(:first-child) {
		margin-left: -18rem;
	  }
	

	/* lets work together*/
	  #three{
		width:90%;
		
		padding: 100px;
		margin-left: 10%;
		margin-top: 400px;
		margin-bottom: 300px;
		display:flex;
		align-items: center;
		justify-content: center;
		background-color: #000000;
		background-color: #c4b6a3;
		
	  }
	  .outer-cont{
		width:80%;
		height:60%;
		position:relative;
		margin-top:37%;
		background-color: #171614;
	
		display: flex;
		flex-direction: row;
	  }
	
	  .outer-cont-left{
		flex-basis: 60%;
		float:left;
		margin-left:2%;
		padding: 10px;
	
	  }
	.outer-cont-right{
		flex-basis: 40%;
		float:right;
	margin-left:8%;
	justify-content: center;
	align-items: center;
	
	  }
	.outer-cont-title{
		font-family: "Bebas Neue", sans-serif;
	  font-weight: 200;
	  font-style: normal;
		font-size: 2.75rem;
		color:whitesmoke;
		letter-spacing: 0.2rem;
		margin-bottom: 1.75px;
		margin-top:15px;
	}
	.outer-cont-sub-title{
		font-family: "Montserrat", sans-serif;
	  font-optical-sizing: auto;
	  font-weight: 200;
	  font-style: normal;
	  font-size: 1rem;
		color:antiquewhite;
		letter-spacing: 0.2rem;
		margin-bottom: 3px;
		margin-top:10px;
	}
	  .get-in-touch{
		display: inline-block;
		padding: 10px 30px;
		color: white;
		background-color: crimson;
		border: 2px solid crimson;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		margin-top: 30px;
		transition: 0.1s ease;
		transition-property: background-color, color;
		
	}
	.get-in-touch:hover {
		color: white;
		background-color: transparent;
		border: 2px solid crimson;
		
	}
	
	
	#floatingWidget {
		top: 50%;
		left: 60%;
		transform: translate(-50%, -50%);
		position: fixed;
	
		bottom: 80px; /* Adjust as needed */
		
		width: 80%;
		margin-left:-100px;
		height: 83vh;
		padding-bottom: 50px;
		background-color: #000000;
		color: white;
		z-index: 999;
		border-radius: 0px;
		border: 1px solid #e3d5c3;
		/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
		display: none; /* Hidden by default */
	  }
	  
	 
	  .hidden {
		display: none;
	  }
	  .closeButtonDiv{
		display:flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-top: 0px;
		
		
	  }
	  #closeButton {
		font-family: "Montserrat", sans-serif;
	  font-optical-sizing: auto;
	  font-weight: 200;
	  font-style: normal;
		font-size: 3rem;
		margin-top: 0px;
		padding: 5px 10px;
		color: #dc3545;
		border: none;
		border-radius: 0px;
		cursor: pointer;
		background-color: transparent;
		transform : font-size 1.9sec ease-in-out;
		transform : color 1.9sec ease-in-out;
		transition: 1s;
	  }
	  #closeButton:hover{
	font-size: 3.15rem;
	color:#e3d5c3;
	
	transform: scale(1.4);
	  }
	  .contact-me{
	display:flex;
	flex-direction: row;
	
	  }
	  .c-title-div{
		display:flex;
		justify-content: center;
		margin-bottom: 20px;
	
	  }
	  .c-title{
		font-family: "Bebas Neue", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 2.75rem;
	color:antiquewhite;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
	margin-top:15px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	  }
	  
	  .c-right{
		display: flex;
		flex-direction: column;
		gap: 40px;
		flex-basis: 70%;
		float:right;
		margin-left:2%;
		padding: 40px;
	
	  }
	  .c-left{
		flex-basis: 30%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		
		margin-left:0%;
		padding: 10px;
	  }
	  .ul2{
		padding: 0 5px;
		list-style: none;
		margin-top: 1%;
		margin-left: 10%;
		
	  }
	  .ul2 li{
		padding-bottom: 1px;
	  }
	.aa2{
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 50;
		font-style: normal;
		font-size: 1.5rem;
		margin-bottom: 20%;
		color:#A9A9A9;
	}
	.c-right input, .c-right textarea{
		
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 50;
		font-style: normal;
		font-size: 1.5rem;
		width: 100%;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #2d2a27;
		color: #ffffff;
	}
	
	.c-right textarea{ 
		overflow: auto; /* Add scrollbars if the content exceeds the size */
		resize: none; 
	}
	.c-right button{
		
		font-family: "Roboto Condensed", sans-serif;
		font-optical-sizing: auto;
		font-weight: 50;
		font-style: normal;
		font-size: 1.5rem;
		width: 30%;
		padding: 10px;
		
		background-color: transparent;
	color:#e3d5c3;
		border: 1px solid #2d2a27;
		transform : font-size 0.3sec ease-in-out;
	}
	
	.c-right button:hover{
		font-size: 1.6rem ;
		background-color: #e3d5c3;
		color: #000000;
		border: 1px solid #e3d5c3;
	}
	
	 .c-right input:focus {
		border: none; /* Remove border when textarea is focused */
		outline: none; /* Remove default outline */
		border-bottom: 1px solid #e3d5c3;
	  }
	
	  .c-right textarea:focus {
		border: none; /* Remove border when textarea is focused */
		outline: none; /* Remove default outline */
		border: 1px solid #e3d5c3;
	  }
	
	/* Keyframes */
	@keyframes hamburger_puls {
		0% {
			opacity: 1;
			transform: scale(1);
		}
		100% {
			opacity: 0;
			transform: scale(1.4);
		}
	}
	@keyframes text_reveal_box {
		50% {
			width: 100%;
			left: 0;
		}
		100% {
			width: 0;
			left: 100%;
		}
	}
	@keyframes text_reveal {
		100% {
			color: white;
		}
	}
	@keyframes text_reveal_name {
		100% {
			color: crimson;
			font-weight: 500;
		}
	}
	/* End Keyframes */
	
	
}