@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");
.sliderProjects{ 
  width: 100%;
  /* height: 50vh; */
  margin-bottom: 500px;
  align-items: center;
  justify-content: center;

 }

 .work-title-div{
  
  
	transform: translateY(-50%);
	writing-mode: vertical-rl; /* Makes the text vertical */
	text-orientation: mixed; /* Ensures characters remain upright */
	
	transform: rotate(360deg);


}

.overlap-work{
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  text-align: center;
  color: #ffffff;
  top: 50%;
  left: 35%;
  font-weight: 800;
}
.overlap-work span {
  font-size: 16vw;
  text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.7);
}
.overlap-work span:not(:first-child) {
  margin-top: -0.18em;
}
.sliderProjects .projects-title, .sliderProjects .sub-projects-title{

}
.slider-container{
  margin-left: 15%;
  width: 80%;
  background-color: #000000;
 
  /* background-image: url('Images/bg-img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
}




.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 20%;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  position: relative;
  
}

.column img {
  margin-top: 8px;
  margin-bottom: 20px;
  vertical-align: middle;
  width: 100%;
  border: 2px solid #e3d5c3;;
}

/* image hover effect */
.img-container {
  position: relative; /* Ensure the overlay is positioned relative to the image */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  overflow: hidden;
  width: 97%;
  height: 95%; /* Initial height set to 0 */
  transform: scale(0);
  transition: .3s ease;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Optional: subtle border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: subtle shadow for depth */
}


.img-container:hover .overlay {
  transform: scale(1);
 
}

.text {
  color: #000000;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  .work-title-div{
    display: none;
  }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  
  .column {
    flex: 100%;
    max-width: 100%;
  }
}